In [1]:

import os
from urllib.parse import quote_plus
from dotenv import load_dotenv
import psycopg2

In [2]:
load_dotenv()

True

In [3]:
user = os.getenv("PGUSER")
password = os.getenv("PGPASSWORD")
host = os.getenv("PGHOST")
port = os.getenv("PGPORT")
dbname = os.getenv("PGDATABASE")

In [4]:
# URL-encode the password (important if it contains special chars like '@')
password_encoded = quote_plus(password)

# Construct connection URL
conn_url = f"postgresql://{user}:{password_encoded}@{host}:{port}/{dbname}"

print("Connecting to:", conn_url)  # optional: check URL

# Connect using psycopg2.connect with the URL
conn = psycopg2.connect(conn_url)
cursor = conn.cursor()

Connecting to: postgresql://postgres:J%40mes3002@localhost:5432/postgres

In [5]:
query = """
SELECT * FROM labels
"""

cursor.execute(query)
results = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

In [7]:
import pandas as pd

df = pd.DataFrame(results, columns=columns)
df

                                      uuid    label
0     042636e3-5392-4fbe-8558-fc9d92c540d6  benthic
1     09328e2b-14db-46a7-918c-9407aca9d819  benthic
2     0408e41f-1960-4670-8722-b3c6c1bf5934  benthic
3     03f71fe5-a743-4e56-85a7-96189bb1e1cf  benthic
4     08b2055a-cff3-4b5e-b107-0b96ac221279  benthic
...                                    ...      ...
1414  c720fb78-430a-4fde-9613-e31f2b50f3cf  benthic
1415  c43c1473-5db2-42fd-a027-9ec06a02a4ae  benthic
1416  92b8b3f1-5746-4823-b4d7-e724b264dc9e  benthic
1417  8ccae8ce-d67b-4cea-bd26-7aa5918a2acb  benthic
1418  48a91658-a507-4f7e-aaf4-a375ead14cec  benthic

[1419 rows x 2 columns]

In [9]:
cursor.close()
conn.close()

In [8]:
df.to_csv("fc_data_zones.csv")